<div class="about-me">
  <img src="../assets/profile-pic.jpg" alt="Haikal" height="300px" width="300px">
  <div class="about-me--para">
    <h1>Hey, I'm {{ '{{' }} Haikal {{ '}}' }}.</h1>
    <p>Hello my name is Haikal. Hello my name is Haikal. Hello my name is Haikal. Hello my name is Haikal. Hello my name is Haikal. Hello my name is Haikal. Hello my name is Haikal. Hello my name is Haikal. Hello my name is Haikal. Hello my name is Haikal. Hello my name is Haikal. Hello my name is Haikal. Hello my name is Haikal. Hello my name is Haikal. Hello my name is Haikal. Hello my name is Haikal. </p>
  </div>
</div>